<!doctype html>
<html lang="cs-cz">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>O mně | analyze-my-data.com</title>

  <!-- Boostrap and CSS style sheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='style_bootstrap.css') }}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127186980-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-127186980-1');
  </script>

  <!-- reference Moment.js library -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    function getCurrentYear() {
      var NowMoment = moment();
      year = NowMoment.format("YYYY");
      document.getElementById("currentYear").innerHTML = year;
    }

    function getMyAge() {
      var MyAge = moment().diff('1994-08-20', 'years');
      document.getElementById("myAge").innerHTML = MyAge;
    }

    window.onload = function() {
      getCurrentYear();
      getMyAge();
    }
  </script>

  <!-- Footer icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

  <!-- InstanceBeginEditable name="meta" -->
  <meta name="description" content="Nabídka služeb v oblasti statistické analýzy dat - analýza dat, modelování dat, data mining, strojové učení, statistické zpracování dotazníkových dat, testování statistických hypotéz, reporting, konzultace." />
  <meta name="keywords" content="analýza dat, datová analýza, statistické zpracování dat, modelování dat, data mining, strojové učení, testování hypotéz, reporting, tabulka četností, dizertační práce, diplomová práce, bakalářská práce, dotazníková data, vizualizace dat, Brno" />
  <meta name="author" content="Jaroslav Bezděk" />

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
  <link rel="manifest" href="{{url_for('static', filename='site.webmanifest') }}">
  <link rel="mask-icon" href="{{url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

</head>

<body>
  <header>
    <nav class="navbar navbar-custom py-3">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index', filename='index.html') }}">
          <img src="../static/logo4.png" width="50" height="50" class="d-inline-block align-top logo" alt="">
          <span class="d-none d-sm-block">
            <span style="color: black">analyze&minus;</span><span style="color: white">my</span><span style="color: black">&minus;data.com</span>
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('services', filename='services.html') }}">Služby</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">O mně</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('tools', filename='tools.html') }}">Nástroje</a>
            </li>
            <li class="nav-item active">
              <a href="{{ url_for('about_me_english', filename='en_about_me.html') }}"><img src="{{ url_for('static', filename='Flag_UK.png') }}" alt="Flag_UK" width="32" height="32" /></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <article>
    <div class="container" id="container-article">

      <div class="jumbotron" id="jumbotron-article">
        <!-- <div class="container bg-light text-dark"> -->
        <h1 class="display-4">O mně</h1>
        <!-- <img src="{{ url_for('static', filename='Fotka_Bezdek_kulata.png') }}" class="rounded float-right" alt="My personal photo." width="256" height="256">-->

        <div id="content_space"></div>

        <div>
          <table>
            <tr>
              <td class='first_column'>Jméno:</td>
              <td class='second_column'>Jaroslav Bezděk</td>
            </tr>
            <!--
            <tr>
              <td class='first_column'>Věk:</td>
              <td class='second_column'><span id="myAge"></span> let</td>
            </tr>
            -->
            <tr>
              <td class='first_column'>IČO:</td>
              <td class='second_column'>
                <a href="{{ url_for('static', filename='vypis_zr_bezdek.pdf')}}">07506287</a>
              </td>
            </tr>
          </table>

          <div id="content_space"></div>

          <h4><i class="fas fa-briefcase"></i>&nbsp;&nbsp;&nbsp;Pracovní zkušenosti</h4>

          <div id="content_space"></div>

          <ul>
            <li class='jobs_list'>Datový analytik/vědec<br />
              <i>OSVČ (10/2018 - současnost)</i></li>

            <li class='jobs_list'>Junior Data Scientist<br />
              <i>Gauss Algorithmic (07/2018 - 09/2019)</i></li>

            <li class='jobs_list'>Datový analytik<br />
              <i>Jumpshot (11/2017 - 06/2018)</i></li>

            <li class='jobs_list'>Business analytik<br />
              <i>KPMG (08/2017 - 10/2017)</i></li>

            <li class='jobs_list'>Specialista prevence finanční kriminality<br />
              <i>Česká spořitelna (02/2016 - 07/2017)</i></li>
          </ul>

          <div id="content_space"></div>

          <h4><i class="fas fa-graduation-cap"></i>&nbsp;&nbsp;&nbsp;Vzdělání</h4>

          <div id="content_space"></div>

          <ul>
            <li class='jobs_list'>Vysoká škola ekonomická v Praze<br />
              <i>obor Statistika, Ing. (2016 - 2018)</i></li>

            <li class='jobs_list'>Vysoká škola ekonomická v Praze<br />
              <i>obor Statistika a ekonometrie, Bc. (2013 - 2016)</i></li>
          </ul>

          <div id="content_space"></div>

          <h4><i class="fas fa-stamp"></i>&nbsp;&nbsp;&nbsp;Certifikace</h4>

          <div id="content_space"></div>

          <ul>
            <li class='jobs_list'>
              <a href='https://www.datacamp.com/statement-of-accomplishment/track/7b9e455008be65a9683845bbcef3eab843c38976'>Data Scientist with Python</a><br />
              <i>DataCamp (07/2020)</i></li>

            <li class='jobs_list'>
              <a href='https://www.datacamp.com/statement-of-accomplishment/track/cfac4f00981600f9e3ac2314296aeedcb51eb18f'>Python Programmer</a><br />
              <i>DataCamp (03/2020)</i></li>
          </ul>

          <!-- Nová sekce klienti, kterou jsem se nakonec rozhodl na web nepřidat (je pouze v české verzi). -->

          <!--
          <div id="content_space"></div>

          <h4><i class="fas fa-building"></i>&nbsp;&nbsp;&nbsp;Klienti</h4>

          <div id="content_space"></div>

          <div class="row row-cols-1 row-cols-md-3">

            <div class="col mb-4">
              <div class="card h-100">
                <p style="margin-bottom: 20px;"></p>
                <a href='https://www.gaussalgo.com/'>
                  <img src="{{ url_for('static', filename='gauss_algo_transparent.png') }}" class="mx-auto" style="display: block;" height="80" alt="Gauss Algorithmic">
                </a>
                <p style="margin-bottom: 20px;"></p>
                <div class="card-body">
                  <p class="card-text">
                    <ul>
                      <li class='jobs_list'>Vytvořeno přes 30 datových analýz v Jupyter Notebook.</li>
                      <li class='jobs_list'>Vytvořeny a nasazeny 2 produkční modely strojového učení.</li>
                      <li class='jobs_list'>Spolupráce na více než 10 interních Python knihovnách.</li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card h-100">
                <p style="margin-bottom: 20px;"></p>
                <a href='http://www.aureslab.com/'>
                  <img src="{{ url_for('static', filename='aures_apps_transparent.png') }}" class="mx-auto" style="display: block;" height="80" alt="Aures Apps">
                </a>
                <p style="margin-bottom: 20px;"></p>
                <div class="card-body">
                  <p class="card-text">
                    <ul>
                      <li class='jobs_list'>Kompletně vytvořeny 3 produkční modely strojového učení.</li>
                      <li class='jobs_list'>Vyvinuto 5 interních Python knihoven.</li>
                      <li class='jobs_list'>Pomoc s nastavením procesů při vývoji modelů strojového učení.</li>
                    </ul>
                  </p>
                </div>
              </div>
            </div>

            <div class="col mb-4">
              <div class="card h-100">
                <p style="margin-bottom: 0px;"></p>
                <a href='https://s9y.ai/'>
                  <img src="{{ url_for('static', filename='s9y_transparent.png') }}" class="mx-auto" style="display: block;" height="120" alt="S9Y">
                </a>
                <p style="margin-bottom: 0px;"></p>
                <div class="card-body">
                  <p class="card-text">
                    <li class='jobs_list'>Vytvořeny 2 modely strojového učení.</li>
                    <li class='jobs_list'>Spolupráce na 5 projektech zahrnujících tématiku strojového učení.</li>
                  </p>
                </div>
              </div>
            </div>

          </div>
        -->

        </div>

        <!-- <p style="margin-bottom:5cm;"></p> -->
      </div>
  </article>

  <footer class="page-footer">
    <div class="container">

      <div class="row justify-content-between">
        <div class="col-4 align-self-center">
          <div class="footer-copyright text-center">&copy; 2018 - <span id="currentYear"></span> Jaroslav Bezděk</div>
        </div>
        <div class="col-4 align-self-center">
          <a href="mailto:bezdekjarda@seznam.cz?subject=Email from analyze-my-data.com webpage" class="fb-ic social">
            <i class="far fa-envelope-open fa-lg mr-md-5 mr-3"></i>
          </a>
          <a href="https://www.linkedin.com/in/jaroslav-bezděk-66b813124/" class="li-ic social">
            <i class="fab fa-linkedin-in fa-lg mr-md-5 mr-3"></i>
          </a>
          <a href="https://stackoverflow.com/users/7122272/jaroslav-bezd%c4%9bk" class="li-ic social">
            <i class="fab fa-stack-overflow fa-lg mr-md-5 mr-3"></i>
          </a>
          <a href="https://github.com/Sasanka20" class="li-ic social">
            <i class="fab fa-github fa-lg mr-md-5 mr-3"></i>
          </a>
        </div>
      </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </div>

</body>

</html>