<!doctype html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127186980-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127186980-1');
  </script>

  <!-- InstanceBeginEditable name="meta" -->
  <meta name="description" content="Data analysis services - data analysis, data modeling, data mining, machine learning, statistical processing of questionnaire data, hypothesis testing, reporting, consultation." />
  <meta name="keywords" content="data analysis, statistics, data modeling, data mining, machine learning, hypothesis testing, reporting, pivot table, data visualization, disertation, thesis" />
  <meta name="author" content="Jaroslav Bezděk" />
  <!-- InstanceEndEditable -->

  <!-- Část kódu, která napomáhá k responzivitě webu -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- InstanceEndEditable -->

  <!-- Ikony pro kontaktní formulář -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

  <title>Contact | analyze-my-data.com</title>
  <link href="{{ url_for('static', filename='style_v1.css') }}" rel="stylesheet" type="text/css">
  <meta charset="utf-8" />

  <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
  <link rel="manifest" href="{{url_for('static', filename='site.webmanifest') }}">
  <link rel="mask-icon" href="{{url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

</head>

<body>
  <!-- hlavička stránky -->
  <header class="header_whole_page">
    <div id="logo">
      <a href="{{ url_for('index_english', filename='en_index.html') }}">
        <div class="hide_on_mobiles">
          <h1>analyze&minus;<span style="color: white">my</span>&minus;data.com</h1>
        </div>
      </a>
    </div>

    <div class="topnav" id="myTopnav">
      <nav>
        <ul>
          <a href="{{ url_for('index_english', filename='en_index.html') }}">Home</a>
          <a href="{{ url_for('services_english', filename='en_services.html') }}">Services</a>
          <a href="{{ url_for('about_me_english', filename='en_about_me.html') }}">About me</a>
          <a href="{{ url_for('tools_english', filename='en_tools.html') }}">Tools</a>
          <a href="#" class="active">Contact</a>
          <a href="{{ url_for('contact_form', filename='contact_form.html') }}" class="not_hover"><img src="{{ url_for('static', filename='Flag_CZ.png') }}" alt="Flag_CZ" width="32" height="32" /></a>
          <a href="javascript:void(0);" class="icon not_hover" onclick="myFunction()"><i class="fa fa-bars"></i></a>
        </ul>
      </nav>
    </div>

  </header>
  <!-- obsah stránky je vložen do tagu article -->
  <article>
    <!-- article je rozdělen na hlavičku (header) a sekci (section) -->
    <div id="center_my_page">
      <header>
        <h1>Contact</h1>
        <hr align="left" width="90%">
      </header>
      <div class="cistic"></div>
      <section>

        <div style='float:left;'>
          <table id="whoami">
            <tr>
              <td class='first_column' style="vertical-align: middle;" title="E-mail">
                <i class="far fa-envelope fa-icon"></i>
              </td>
              <td class='second_column' style="vertical-align: middle;">bezdekjarda@seznam.cz</td>
            </tr>
            <tr>
              <td class='first_column' style="vertical-align: middle;" title="Telephone number">
                <i class="fas fa-phone fa-icon"></i>
              </td>
              <td class='second_column' style="vertical-align: middle;">+420 604 724 559</td>
            </tr>
            <tr>
              <td class='first_column' style="vertical-align: middle;" title="Employer identification number">
                <a href="{{ url_for('static', filename='vypis_zr_bezdek.pdf')}}">
                  <i class="fas fa-user-tie fa-icon"></i>
                </a>
              </td>
              <td class='second_column' style="vertical-align: middle;">
                <a href="{{ url_for('static', filename='vypis_zr_bezdek.pdf')}}">07506287</a>
              </td>
            </tr>
            <tr>
              <td class='first_column' style="vertical-align: middle;" title="Residence">
                <i class="fas fa-chair fa-icon"></i>
              </td>
              <td class='second_column' style="vertical-align: middle;">
                Brno, Czechia
              </td>
            </tr>

            <tr>
              <td class='first_column' style="vertical-align: middle;" title="LinkedIn profile">
                <a href="https://www.linkedin.com/in/jaroslav-bezděk-66b813124/">
                  <i class="fab fa-linkedin fa-icon"></i>
                </a>
              </td>
              <td class='second_column' style="vertical-align: middle;">
                <a href="https://www.linkedin.com/in/jaroslav-bezděk-66b813124/">
                  Jaroslav Bezděk
                </a>
              </td>
            </tr>

            <tr>
              <td class='first_column' style="vertical-align: middle;" title="GitHub profile">
                <a href="https://github.com/Sasanka20">
                  <i class="fab fa-github-square fa-icon"></i>
                </a>
              </td>
              <td class='second_column' style="vertical-align: middle;">
                <a href="https://github.com/Sasanka20">
                  Jaroslav Bezděk
                </a>
              </td>
            </tr>

            <tr>
              <td class='first_column' style="vertical-align: middle;" title="StackOverflow profile">
                <a href="https://stackoverflow.com/users/7122272/jaroslav-bezd%c4%9bk">
                  <i class="fab fa-stack-overflow fa-icon"></i>
                </a>
              </td>
              <td class='second_column' style="vertical-align: middle;">
                <a href="https://stackoverflow.com/users/7122272/jaroslav-bezd%c4%9bk">
                  Jaroslav Bezděk
                </a>
              </td>
            </tr>
          </table>
          <br>
        </div>

        <div class="cistic"></div>

        <p style="margin-bottom:5cm;">
        </p>

      </section>
      <div class="cistic"></div>
    </div>
  </article>
  <!-- paticka stránky -->
  <footer>
    &copy; 2018 - {{ year }} Jaroslav Bezděk
  </footer>
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
</body>

</html>