<!doctype html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127186980-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127186980-1');
  </script>

  <!-- InstanceBeginEditable name="meta" -->
  <meta name="description" content="Data analysis services - data analysis, data modeling, data mining, machine learning, statistical processing of questionnaire data, hypothesis testing, reporting, consultation." />
  <meta name="keywords" content="data analysis, statistics, data modeling, data mining, machine learning, hypothesis testing, reporting, pivot table, data visualization, disertation, thesis" />
  <meta name="author" content="Jaroslav Bezděk" />
  <!-- InstanceEndEditable -->

  <!-- Část kódu, která napomáhá k responzivitě webu -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- InstanceEndEditable -->

  <title>Home | analyze-my-data.com</title>
  <link href="{{ url_for('static', filename='style_v1.css') }}" rel="stylesheet" type="text/css">
  <meta charset="utf-8" />

  <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
  <link rel="manifest" href="{{url_for('static', filename='site.webmanifest') }}">
  <link rel="mask-icon" href="{{url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

</head>

<body>
  <!-- hlavička stránky -->
  <header class="header_whole_page">
    <div id="logo">
      <div class="hide_on_mobiles">
        <h1>analyze&minus;<span style="color: white">my</span>&minus;data.com</h1>
      </div>
    </div>

    <div class="topnav" id="myTopnav">
      <nav>
        <ul>
          <a href="#" class="active">Home</a></li>
          <a href="{{ url_for('services_english', filename='en_services.html') }}">Services</a>
          <a href="{{ url_for('about_me_english', filename='en_about_me.html') }}">About me</a>
          <a href="{{ url_for('tools_english', filename='en_tools.html') }}">Tools</a>
          <a href="{{ url_for('contact_form_english', filename='en_contact_form.html') }}">Contact</a>
          <a href="{{ url_for('index', filename='index.html') }}" class="not_hover"><img src="{{ url_for('static', filename='Flag_CZ.png') }}" alt="Flag_CZ" width="32" height="32"/></a>
          <a href="javascript:void(0);" class="icon not_hover" onclick="myFunction()"><i class="fa fa-bars"></i></a>
        </ul>
      </nav>
    </div>

  </header>
  <!-- obsah stránky je vložen do tagu article -->
  <article>
    <!-- article je rozdělen na hlavičku (header) a sekci (section) -->
    <div id="center_my_page">
      <header>
      </header>
      <div class="cistic"></div>
      <section>
        <div style="float:left;">
          <p class="content">
            </br>
            <h3>Do you need to analyze <i>your</i> data, but you don't know how?</h3>
            <h3>Then you are in the right place!</h3>
            </br>
          </p>
          <p class="content">
            My name is Jaroslav Bezděk and I will be glad to help you with your data analysis. For both individuals and companies, I offer services within the following areas of statistics:
            <ul>
              <li class='jobs_list'>(big) data analysis,</li>
              <li class='jobs_list'>data modeling/data mining/machine learning (regression analysis, cluster analysis, classification models etc.),</li>
              <li class='jobs_list'>data visualization,</li>
              <li class='jobs_list'>statistical processing of questionnaire data,</li>
              <li class='jobs_list'>hypothesis testing,</li>
              <li class='jobs_list'>reporting.</li>
            </ul>
          </p>
        </div>
        <div class="cistic"></div>
        <p style="margin-bottom:5cm;">
        </p>

      </section>
      <div class="cistic"></div>
    </div>
  </article>
  <!-- paticka stránky -->
  <footer>
    &copy; 2018 - {{ year }} Jaroslav Bezděk
  </footer>
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
</body>

</html>