<!doctype html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127186980-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127186980-1');
  </script>

  <!-- InstanceBeginEditable name="meta" -->
  <meta name="description" content="Data analysis services - data analysis, data modeling, data mining, machine learning, statistical processing of questionnaire data, hypothesis testing, reporting, consultation." />
  <meta name="keywords" content="data analysis, statistics, data modeling, data mining, machine learning, hypothesis testing, reporting, pivot table, data visualization, disertation, thesis" />
  <meta name="author" content="Jaroslav Bezděk" />
  <!-- InstanceEndEditable -->

  <!-- Část kódu, která napomáhá k responzivitě webu -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- InstanceEndEditable -->

  <title>Services | analyze-my-data.com</title>
  <link href="{{ url_for('static', filename='style_v1.css') }}" rel="stylesheet" type="text/css">
  <meta charset="utf-8" />

  <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-touch-icon.png')}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon-32x32.png')}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon-16x16.png')}}">
  <link rel="manifest" href="{{url_for('static', filename='site.webmanifest') }}">
  <link rel="mask-icon" href="{{url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <!-- hlavička stránky -->
  <header class="header_whole_page">
    <div id="logo">
      <a href="{{ url_for('index_english', filename='en_index.html') }}">
        <div class="hide_on_mobiles">
          <h1>analyze&minus;<span style="color: white">my</span>&minus;data.com</h1>
        </div>
      </a>
    </div>

    <div class="topnav" id="myTopnav">
      <nav>
        <ul>
          <a href="{{ url_for('index_english', filename='en_index.html') }}">Home</a>
          <a href="#" class="active">Services</a>
          <a href="{{ url_for('about_me_english', filename='en_about_me.html') }}">About me</a>
          <a href="{{ url_for('tools_english', filename='en_tools.html') }}">Tools</a>
          <a href="{{ url_for('contact_form_english', filename='en_contact_form.html') }}">Contact</a>
          <a href="{{ url_for('services', filename='services.html') }}" class="not_hover"><img src="{{ url_for('static', filename='Flag_CZ.png') }}" alt="Flag_CZ" width="32" height="32"/></a>
          <a href="javascript:void(0);" class="icon not_hover" onclick="myFunction()"><i class="fa fa-bars"></i></a>
        </ul>
      </nav>
    </div>

  </header>
  <!-- obsah stránky je vložen do tagu article -->
  <article>
    <!-- article je rozdělen na hlavičku (header) a sekci (section) -->
    <div id="center_my_page">
      <header>

        <h1>Services</h1>
        <hr align="left" width="90%">

      </header>
      <div class="cistic"></div>
      <section>
        <div style="float:left;">
          <h3>What do I offer?</h3>

          <p class="content">I offer data analysis services of all kind.</p>

          <ol>
            <li>
              <h4>Consultation</h4>

              <p class="content">
                Do you have a data set from which you need to calculate aggregated values,
                create a prediction model, or verify a&nbsp;hypothesis based on it?
                Or do you need to make another analysis of you data, but you don't know how?
                Then do not hesitate to contact me. I will be glad to give you some advice
                on what would be the best for your work and how it could be done.
              </p>

              <p class="content">
                I provide every consultation completely for <b>FREE</b>!
              </p>
            </li>

            <li>
              <h4>Data analysis</h4>
              <p class="content">
              </p>

              <p class="content">
                Data analysis workflow can be divided into the following five steps:
              </p>

              <ul>
                <li class='jobs_list'>task specification by client,</li>
                <li class='jobs_list'>obtaining of data set (provided by client, downloaded from web, or scraped from web),</li>
                <li class='jobs_list'>exploratory analysis (quality check and preparation of data for data analysis),</li>
                <li class='jobs_list'>data analysis (e.g. hypothesis testing, model construction, plotting),</li>
                <li class='jobs_list'>results interpretation and preparation of outputs (comments, tables, plots etc.).</li>
              </ul>

              <p class="content">During data analysis I am <b>not</b> limited by:</p>

              <ul>
                <li class='jobs_list'>type of data (multidimensional data, time series etc.),</li>
                <li class='jobs_list'>format of data file (XLSX, CSV, JSON etc.),</li>
                <li class='jobs_list'>nor the field of science.</li>
              </ul>
            </li>

            <li>
              <h4>Reporting</h4>
              <p class="content">
                If you wanted to replicate the analysis on other data set
                with the same structure as the original one, regularly, I offer a&nbsp;continuous reporting service.
              </p>
              <p class="content">
                Methods of delivering analysis results may be different.
                One of them can be a regular email delivery of spreadsheets. The other one
                can be based on development of intuitive web application that is tailored
                to your needs so there can be uploaded data set and results can be displayed
                on one button click. It all depends on our agreement.
              </p>
            </li>
          </ol>


          <h3>How much does it cost?</h3>

          <!--
          <p class="content">
            Each analysis is different, because every data set and tasks are different.
            However, my rate is still, and it is <b> 400 CZK per hour </b> (or 15 EUR per hour).
          </p>
         -->
          <p class="content">
            Without knowledge of data and assignment, It is very hard to estimate the final price of my work. So, I would
            like to ask you to&nbsp;send me a short request describing, which data you have got and what you want to do with it.
            You can use any of my <a href="{{ url_for('contact_form_english', filename='en_contact_form.html') }}">contacts</a>.
            To the final price I do not count the time spent on a consultation, that I provide for <b>FREE</b>.
            So do not hesitate to contact me with any requests. Before starting work, I will give you some advise
            on your specific issue, and then I will make a&nbsp;cost estimate so you will be able to decide
            if you are interested in our cooperation or not.
          </p>
        </div>
        <div class="cistic"></div>
        <p style="margin-bottom:6cm;">
        </p>

      </section>
      <div class="cistic"></div>
    </div>
  </article>
  <!-- paticka stránky -->
  <footer>
    &copy; 2018 - {{ year }} Jaroslav Bezděk
  </footer>
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
</body>

</html>